extends layout

block content
  h1= title

  form(id='ballForm', action="/resource/balls", method="POST")
    div.form-group
        label.ballAttr(for='type') ball type
        input#type(type='text', name='type')
    div.form-group
        label.ballAttr(for='shape') ball shape
        input#shape(type='text', name='shape')
    div.form-group
        label.ballAttr(for='quantity') ball quantity
        input#quantity(type='number', name='quantity')
    input(type="submit")

  script.
    document.forms['ballForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });

