body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.ballAttr {
  background-color: lightgray;
  width: 200px;
  text-align: center;
}
.row{
  background-color: lightsteelblue;
  padding: 10px;
}